.theme-changer-master {
  label {
    display: inline-block;
  }
  input {
    &.theme-changer {
      &-red,
      &-blue,
      &-pink {
        ~ .changer-wrapper {
          transition: color 0.25s ease-in-out,
            background-color 0.25s ease-in-out, border-color 0.25s ease-in-out,
            box-shadow 0.25s ease-in-out;
          @apply rounded-full mx-1 w-9 h-9 border-2 shadow-lg;
        }
        &:not(:checked) {
          ~ .changer-wrapper {
            cursor: pointer;
          }
        }
        &:hover,
        &:focus,
        &:focus-within {
          ~ .changer-wrapper {
            outline: none;
            @apply ring ring-opacity-60;
          }
        }
      }
    }
  }
}
