.dropdown {
  position: absolute;
  background-color: white;
  margin-top: 0.35rem;
  min-width: 7rem;
  z-index: 99999;

  &-item {
    cursor: pointer;
    width: 100%;
    font-weight: 400;
    color: black;
    padding: 0.25rem 0.5rem;
    &:focus,
    &:hover {
      border-radius: inherit;
      background-color: #e9ecef;
      color: #1e2125;
    }
    &.active {
      border-radius: inherit;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%233cb8f0' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
      background-position: right calc(0.375em + 0.1875rem) center;
      background-color: hsl(195, 100%, 90%);
    }
  }
}
