.MyModal {
  &__Overlay {
    z-index: 999999;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
    &--after-open {
      opacity: 1;
    }
    &--before-close {
      opacity: 0;
    }
    @apply fixed inset-0 bg-black bg-opacity-75;
  }
  &__Content {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
    // border-radius: 4px;
    outline: none;
    @apply absolute inset-0 flex max-h-full flex-col overflow-hidden rounded sm:inset-4 md:inset-10;
    &--after-open {
      opacity: 1;
      transform: translateX(0);
    }
    &--before-close {
      opacity: 0;
      transform: scale(0.9);
    }
  }
  &__Header {
    @apply shrink-0 items-center justify-between p-2;
  }
  &__Body {
    @apply py-4 px-4 md:px-8 lg:px-16;
  }
  &__Close {
    @apply absolute focus:outline-none;
    top: calc(0rem + 0.5rem);
    right: calc(0rem + 1rem);
    bottom: calc(0rem + 0.5rem);
    transition: transform 250ms;
    &:hover {
      transition: transform 250ms;
      transform: rotate(90deg);
    }
  }
  &__Trigger {
    @apply font-bold text-sky-400;
    &:focus,
    &:focus-within,
    &:hover,
    &:active {
      @apply text-sky-500;
    }
  }
}
