.MyModal {
  &__Overlay {
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    // inset: 0px; // default
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__Content {
    position: absolute;
    inset: 0px;
    max-height: 100%;
    // border: 1px solid rgb(204, 204, 204);
    // background: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 4px;
    outline: none;
    // padding: 20px;
    display: flex;
    flex-direction: column;
    @media (min-width: 576px) {
      inset: 15px;
    }
    @media (min-width: 768px) {
      inset: 40px;
    }
  }
  &__Header {
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
  }
  &__Body {
    @apply py-4 px-4 md:px-8 lg:px-16;
  }
  &__Close {
    @apply focus:outline-none;
    position: absolute;
    top: calc(0rem + 0.5rem);
    right: calc(0rem + 1rem);
    bottom: calc(0rem + 0.5rem);
    transition: transform 250ms;
    // padding-top: 1rem;
    &:hover {
      transition: transform 250ms;
      transform: rotate(90deg);
    }
  }
  &__Trigger {
    font-weight: bold;
    @apply text-sky-400;
    &:focus,
    &:focus-within,
    &:hover,
    &:active {
      @apply text-sky-500 outline-none;
    }
  }
}

.ReactModal {
  &__Overlay {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
    &--after-open {
      opacity: 1;
    }
    &--before-close {
      opacity: 0;
    }
  }
  &__Content {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
    &--after-open {
      opacity: 1;
      transform: translateX(0);
    }
    &--before-close {
      opacity: 0;
      transform: scale(0.9);
    }
  }
}
