{
  "extends": "stylelint-config-recommended",
  "rules": {
    "no-invalid-position-at-import-rule": null,
    "at-rule-no-unknown": null,
    "declaration-block-trailing-semicolon": null,
    "no-descending-specificity": null,
  }
}
