{
  "extends": ["stylelint-config-recommended", "stylelint-config-standard-scss"],
  "rules": {
    "at-rule-empty-line-before": null,
    "alpha-value-notation": "number",
    "color-function-notation": null,
    "hue-degree-notation": null,
    "selector-id-pattern": null,
    "selector-class-pattern": null,
    "max-line-length": [120, { "ignorePattern": ["/@apply\\s+/"] }],
    "value-list-comma-newline-after": null,
    "no-invalid-position-at-import-rule": null,
    "at-rule-no-unknown": null,
    "rule-empty-line-before": null,
    "declaration-empty-line-before": "never",
    "declaration-block-trailing-semicolon": "always",
    "declaration-colon-newline-after": null,
    "no-descending-specificity": null,
    "scss/no-global-function-names": null,
    "scss/at-extend-no-missing-placeholder": null,
    "scss/at-rule-no-unknown": null,
    "scss/dollar-variable-pattern": null,
    "scss/at-mixin-pattern": null,
    "scss/double-slash-comment-whitespace-inside": null,
    "scss/double-slash-comment-empty-line-before": null
  }
}
