@mixin MakeTheme(
  $color,
  $bodyText: white,
  $btnText: white,
  $dropdownText: white
) {
  body.#{$color} {
    color: $bodyText;
    @apply bg-#{$color}-900;

    .click-gen-header {
      @apply border-#{$color}-400;
    }

    .btn-theme {
      @apply bg-#{$color}-400;
      color: $btnText;
      &:focus,
      &:focus-within,
      &:hover {
        @apply bg-#{$color}-500;
      }
      &:focus {
        &:not(.settings-change) {
          @apply ring-#{$color}-300;
        }
      }
      &:disabled {
        @apply bg-#{$color}-400;
      }
    }

    .card-theme {
      @apply bg-#{$color}-700;
    }

    .num-input {
      &-btn,
      &-field {
        @apply bg-#{$color}-400;
        color: $btnText;
      }
      &-field {
        &:focus,
        &:focus-within,
        &:active {
          @apply bg-#{$color}-500 ring-#{$color}-300;
        }
      }
    }

    .ReactCollapse--content {
      @apply bg-#{$color}-500;
    }

    .settings-change {
      color: $dropdownText;
      @apply bg-#{$color}-700 focus:ring-0 focus-within:ring-0 hover:bg-#{$color}-800 focus:bg-#{$color}-800 focus-within:bg-#{$color}-800;
    }

    .theme-toggle-button {
      font-weight: 500;
      color: $btnText;
      @apply bg-#{$color}-400;
      &:focus,
      &:focus-within,
      &:hover {
        @apply ring outline-none ring-opacity-60 bg-#{$color}-500;
      }
      &.open {
        @apply bg-#{$color}-500;
      }
    }

    .MyModal__Content {
      color: $bodyText;
      @apply border border-#{$color}-800 bg-#{$color}-900;
    }

    code {
      @apply bg-#{$color}-600;
    }
  }

  .theme-changer-master {
    input.theme-changer-#{$color} {
      ~ .changer-wrapper {
        @apply bg-#{$color}-500 border-#{$color}-300;
      }
      &:not(:checked) {
        ~ .changer-wrapper {
          cursor: pointer;
        }
      }
      &:hover,
      &:focus,
      &:focus-within {
        ~ .changer-wrapper {
          @apply bg-#{$color}-600 ring ring-opacity-60;
          outline: none;
        }
      }
      &:checked {
        ~ .changer-wrapper {
          @apply bg-#{$color}-700;
        }
      }
    }
  }
}
