@mixin MakeTheme(
  $color,
  $bodyText: white,
  $btnText: white,
  $dropdownText: white
) {
  body.#{$color} {
    color: $bodyText;
    @apply bg-#{$color}-900;
    .click-gen-header {
      @apply border-#{$color}-400;
    }
    .btn-theme {
      @apply bg-#{$color}-400;
      color: $btnText;
      &:focus,
      &:focus-within,
      &:hover {
        @apply bg-#{$color}-500;
      }
      &:focus {
        &:not(.dropdown-trigger) {
          @apply ring-#{$color}-300;
        }
      }
      &:disabled {
        @apply bg-#{$color}-400;
      }
    }

    .card-theme {
      @apply bg-#{$color}-700;
    }

    .num-input {
      &-btn,
      &-field {
        @apply bg-#{$color}-400;
        color: $btnText;
      }
      &-field {
        &:focus,
        &:focus-within,
        &:active {
          @apply bg-#{$color}-500 ring-#{$color}-300;
        }
      }
    }

    .dropdown-trigger {
      color: $dropdownText;
      @apply bg-#{$color}-700;
    }

    .dropdown-trigger.open,
    .dropdown-trigger:hover,
    .dropdown-trigger:focus,
    .dropdown-trigger:focus-within {
      @apply bg-#{$color}-800;
    }

    .ReactCollapse--content {
      @apply bg-#{$color}-500;
    }

    .theme-toggle-button {
      font-weight: 500;
      transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
        border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
      color: $btnText;
      @apply p-1.5 rounded-md bg-#{$color}-400 shadow-inner;
      &:focus,
      &:focus-within,
      &:hover {
        @apply ring outline-none ring-opacity-60 bg-#{$color}-500;
      }
      &.open {
        @apply rounded-b-none bg-#{$color}-500;
      }
      ~ .ReactCollapse--collapse {
        > .ReactCollapse--content {
          @apply rounded-tr-none;
          transition: color 0.25s ease-in-out,
            background-color 0.25s ease-in-out, border-color 0.25s ease-in-out,
            box-shadow 0.25s ease-in-out;
        }
      }
    }

    .MyModal {
      &__Content {
        color: $bodyText;
        @apply border border-#{$color}-800 bg-#{$color}-900;
      }
    }

    code {
      @apply bg-#{$color}-600;
    }
  }

  .theme-changer-master {
    label {
      display: inline-block;
    }
    input.theme-changer-#{$color} {
      ~ .changer-wrapper {
        transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
          border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
        @apply bg-#{$color}-500 border-#{$color}-300 rounded-full mx-1 w-9 h-9 border-2 shadow-lg;
      }
      &:not(:checked) {
        ~ .changer-wrapper {
          cursor: pointer;
        }
      }
      &:hover,
      &:focus,
      &:focus-within {
        ~ .changer-wrapper {
          @apply bg-#{$color}-600 ring ring-opacity-60;
          outline: none;
        }
      }
      &:checked {
        ~ .changer-wrapper {
          @apply bg-#{$color}-700;
        }
      }
    }
  }
}
