body.pink {
  @apply bg-pink-900 text-white;

  .click-gen-header {
    @apply border-pink-400;
  }

  // layer wrapper Originally not here
  @layer components {
    .btn-theme {
      @apply bg-pink-400 text-white;
      &:focus,
      &:focus-within,
      &:hover {
        @apply bg-pink-500;
      }
      &:focus {
        &:not(.settings-change) {
          @apply ring-pink-300;
        }
      }
      &:disabled {
        @apply bg-pink-400;
      }
    }

    .card-theme {
      @apply bg-pink-700;
    }

    .num-input {
      &-btn,
      &-field {
        @apply bg-pink-400 text-white;
      }
      &-field {
        &:focus,
        &:focus-within,
        &:active {
          @apply bg-pink-500 ring-pink-300;
        }
      }
    }

    .ReactCollapse--content {
      @apply bg-pink-500;
    }
  }

  .settings-change {
    @apply bg-pink-700 text-white focus-within:bg-pink-800 focus-within:ring-0 hover:bg-pink-800 focus:bg-pink-800 focus:ring-0;
  }

  .theme-toggle-button {
    font-weight: 500;
    @apply bg-pink-400 text-white;
    &:focus,
    &:focus-within,
    &:hover {
      @apply bg-pink-500 outline-none ring ring-opacity-60;
    }
    &.open {
      @apply bg-pink-500;
    }
  }

  .MyModal__Content {
    @apply border border-pink-800 bg-pink-900 text-white;
  }

  code {
    @apply bg-pink-600;
  }
}

.theme-changer-master {
  input.theme-changer-pink {
    ~ .changer-wrapper {
      @apply border-pink-300 bg-pink-500;
    }
    &:not(:checked) {
      ~ .changer-wrapper {
        cursor: pointer;
      }
    }
    &:hover,
    &:focus,
    &:focus-within {
      ~ .changer-wrapper {
        @apply bg-pink-600 ring ring-opacity-60;
        outline: none;
      }
    }
    &:checked {
      ~ .changer-wrapper {
        @apply bg-pink-700;
      }
    }
  }
}
