@import "components/container";
@import "components/toggle";
@import "components/number";
@import "components/modal";
@import "components/dropdown";

//* Smaller one-offs

.btn,
.card,
.num-input-field {
  @apply transition-colors duration-250;
}

.card {
  @apply rounded-md p-3 shadow-md;
}

.btn {
  @apply rounded-md p-2 font-medium;
  &:focus {
    @apply outline-none ring ring-opacity-60;
  }
  &:disabled {
    @apply cursor-not-allowed opacity-50;
  }
}

.ReactCollapse--collapse {
  transition: height 300ms, color 0.25s ease-in-out,
    background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}

svg.bi {
  display: inline-block;
  vertical-align: -0.125em;
  &-no-va {
    display: inline-block;
  }
}
