input {
  &:focus {
    ~ .sw-line {
      @apply ring;
    }
  }
  &:checked {
    ~ .dot {
      transform: translateX(100%);
      @apply bg-green-500;
    }
    ~ .sw-line {
      @apply bg-green-300;
    }
  }
  &:disabled {
    ~ .dot {
      @apply bg-gray-400;
    }
    ~ .sw-line {
      @apply opacity-60;
    }
    &:checked {
      ~ .dot {
        @apply bg-green-700;
      }
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
