.App {
  min-height: 100vh;
  display: flex !important;
  flex-direction: column !important;
}

h1 {
  @apply text-3xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-lg;
}

h1,
h2,
h3 {
  @apply leading-tight;
}

.btn:disabled {
  @apply opacity-50 bg-pink-400 cursor-not-allowed;
}

input:focus ~ .sw-line {
  @apply ring;
}

input:checked ~ .dot {
  transform: translateX(100%);
  @apply bg-green-500;
}
input:checked ~ .sw-line {
  @apply bg-green-300;
}

input:disabled ~ .dot {
  @apply bg-gray-400;
}
input:disabled ~ .sw-line {
  @apply opacity-60;
}
input:disabled:checked ~ .dot {
  @apply bg-green-700;
}

.Collapsible__trigger {
  @apply rounded-md my-2 shadow-md p-3 bg-pink-700 transition w-full text-left;
}

.Collapsible__trigger:hover,
.Collapsible__trigger:focus,
.Collapsible__trigger:focus-within {
  @apply bg-pink-800 ring-1 outline-none;
}

.Collapsible__contentOuter {
  @apply bg-pink-500 px-3 rounded-md;
}
