@tailwind base;
@import "components";
@tailwind utilities;

@import "font-face";
// Theme Styles
@import "themes";

html,
body,
#root {
  height: 100%;
}

.App {
  min-height: 100%;
  display: flex !important;
  flex-direction: column !important;
}

.animate-class {
  transition: background-color 0.5s ease-in-out, color 0.75s ease-in-out;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  @media (min-width: 406px) {
    @apply text-3xl;
  }
  @media (min-width: 481px) {
    @apply text-4xl;
  }
  @media (min-width: 768px) {
    @apply text-5xl;
  }
}
h2 {
  font-family: "Roboto", sans-serif;
  @apply text-3xl md:text-4xl;
}
h3 {
  @apply text-lg;
}

h1,
h2,
h3 {
  @apply leading-tight;
}

a {
  font-weight: bold;
  @apply text-sky-400;
  &:focus,
  &:focus-within,
  &:hover,
  &:active {
    @apply text-sky-500;
  }
}

code {
  padding: 0.2em 0.4em;
  border-radius: 6px;
  font-size: 90%;
}
