@tailwind base;
@tailwind components;
@tailwind utilities;

// Theme Styles
@import "themes";
// Component Styles
@import "components";
// font face
@import "font-face";

.App {
  min-height: 100vh;
  display: flex !important;
  flex-direction: column !important;
}

.animate-class {
  transition: background-color 0.5s ease-in-out, color 0.75s ease-in-out;
}

.btn,
.card,
.num-input-field {
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  @apply text-4xl md:text-5xl;
}
h2 {
  font-family: "Roboto", sans-serif;
  @apply text-3xl md:text-4xl;
}
h3 {
  @apply text-lg;
}

h1,
h2,
h3 {
  @apply leading-tight;
}

a {
  font-weight: bold;
  @apply text-lightBlue-400;
  &:focus,
  &:focus-within,
  &:hover,
  &:active {
    @apply text-lightBlue-500;
  }
}

code {
  padding: 0.2em 0.4em;
  border-radius: 6px;
  font-size: 90%;
}
